<div class="row">
	<div class="bg_div">
		<md-card class="left_side_img">
		<img src="assets/Truck.png" height="400px" width="625px">
	</md-card>
	<md-card class="demo">
			<md-card class='get_started_box'>
				<md-card-content class="titles"><h4><b>Get Started...</b></h4></md-card-content>
			</md-card>
			<md-card class='home_types_title_box'>
				<md-card-content class='titles_home_types'><h4><b>Select Your Home Type...</b></h4></md-card-content>
			</md-card>
				<div class='house_types'>
					<md-radio-group>
	               		<md-radio-button value="apartment" aria-label="apartment">apartment</md-radio-button>
						<md-radio-button value="condo">condo</md-radio-button>
						<md-radio-button value="townhome">townhome</md-radio-button>
						<md-radio-button value="single-family house (attached)">single-family house (attached)</md-radio-button>
						<md-radio-button value="single-family house (detached)">single-family house (detached)</md-radio-button>
					</md-radio-group>
				</div> <!--end of house type div -->
				<md-card-content class='btn_next'>		
					<md-button md-theme="docs-dark" ng-href="#/map" class='pull-right md-raised md-primary'>next</md-button>
				</md-card-content>	
		</md-card><!-- end of demo div -->		
	</div>		
</div>